@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: var(--font-poppins);
    -webkit-font-smoothing: antialiased;
}

.nav-button {
    @apply text-black text-lg font-medium leading-5 opacity-50 px-1 pb-[5px];
}

.nav-button.active {
    @apply text-[#E14621] opacity-100 border-b border-[#E14621];
}

.aichat {
    @apply h-screen bg-[#F7F7F7] w-full sm:w-3/4 md:w-2/4 lg:min-w-[350px] lg:max-w-[350px] xl:min-w-[470px] xl:max-w-[470px] -translate-x-full fixed top-0 left-0 z-[9999] transition-all duration-300 ease-in-out;
    @apply lg:translate-x-0 lg:relative;

    max-height: -webkit-fill-available;
}

.aichat.active {
    @apply -translate-x-0;
}

.aichat-button {
    @apply fixed bottom-4 left-4 z-50 w-12 h-12 bg-[#E14621] rounded-t-2xl rounded-r-2xl flex items-center justify-center text-white shadow-lg lg:hidden;
}
